<h1>This is books view page</h1>
<div class="container">
    <div  class="grid">
        
        <% for(var i = 0; i < result.items.length; i++){ %>
        <div class="cell">
            <div class="results">
                <a target="_blank" href="<%= result.items[i].volumeInfo.infoLink %>"><img src="<%= result.items[i].volumeInfo.imageLinks ? result.items[i].volumeInfo.imageLinks.thumbnail : ""  %> "> </a>                 
                <h4><%= result.items[i].volumeInfo.title %> </h4>
                <h4>By: <%= result.items[i].volumeInfo.authors ? result.items[i].volumeInfo.authors[0] : ""  %> </h4>
                <h4>$ <%= result.items[i].saleInfo.listPrice ? result.items[i].saleInfo.listPrice.amount : "free"  %> </h4>
            </div>
            <% if(user) { %>
                <div class="btn">
                    <form action="/book" method="POST" >
                            
                        <input  type="hidden" name="img_url" value="<%= result.items[i].volumeInfo.imageLinks ? result.items[i].volumeInfo.imageLinks.thumbnail : ""  %>">
                        <input   type="hidden" name="title" value="<%= result.items[i].volumeInfo.title %>">
                        <input   type="hidden" name="description" value="<%= result.items[i].volumeInfo.description  %>">
                        <input  type="hidden" name="author" value="<%= result.items[i].volumeInfo.authors ? result.items[i].volumeInfo.authors[0] : "" %>"  >
                        <input  type="hidden" name="price" value="<%= result.items[i].saleInfo.listPrice ? result.items[i].saleInfo.listPrice.amount : ""  %>"  >
                        <input type="submit" value="Save" class="button save" >
                    </form>
                </div>
                <% } else{ %>
                    <form action="/book" method="POST" >
                        <input type="submit" value="Rent" class="button rent">
                    </form>
                <a href="/user/login">click here to login</a>    
         <%  }%> 
        </div>
<% } %>
    </div>
</div>